.DS_Store
.bash_history
.bash_profile
.bashrc
.env
.git-credentials
.gitconfig
/.composer/
/.idea
/.vagrant
/.vscode
/contrib/chart/charts/*.tgz
/docker-volumes
/nginx.conf
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
